# 원-핫 인코딩

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('../data/menu_data.xlsx')

In [3]:
df.head()

,메뉴,빵,치즈,랜치,마요네즈,스위트 어니언,허니 머스타드,스위트 칠리,핫 칠리,사우스웨스트 치폴레,머스타드,홀스래디쉬,올리브 오일,레드와인식초,소금,후추,스모크 바비큐,이탈리안 드레싱
0,5,3,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0
1,8,3,2,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
2,15,3,2,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
3,5,5,2,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
4,2,5,1,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0

In [4]:
menu_dummies = pd.get_dummies(df['메뉴'])

In [5]:
bread_dummies = pd.get_dummies(df['빵'])

In [6]:
cheese_dummies = pd.get_dummies(df['치즈'])

In [7]:
menu_dummies.columns = ['쉬림프', '로티세리 바비큐 치킨', '이탈리안 비엠티', '로스트 치킨', '에그마요', 'K-바비큐', '풀드 포크 바비큐',
                       '비엘티', '햄', '참치', '써브웨이 클럽', '베지', '스테이크 & 치즈', '스파이시 이탈리안', '치킨 데리야끼']

In [8]:
bread_dummies.columns = ['허니오트', '하티', '위트', '파마산 오레가노', '화이트', '플랫브래드']

In [9]:
cheese_dummies.columns = ['아메리칸 치즈', '슈레드 치즈', '모차렐라 치즈', '치즈 제외']

In [10]:
df_tmp1 = pd.merge(menu_dummies, bread_dummies, left_index=True, right_index=True)

In [11]:
df_tmp2 = pd.merge(df_tmp1, cheese_dummies, left_index=True, right_index=True)

In [12]:
df_tmp2.shape

(1974, 25)

In [13]:
df_tmp2.head()

,쉬림프,로티세리 바비큐 치킨,이탈리안 비엠티,로스트 치킨,에그마요,K-바비큐,풀드 포크 바비큐,비엘티,햄,참치,...,허니오트,하티,위트,파마산 오레가노,화이트,플랫브래드,아메리칸 치즈,슈레드 치즈,모차렐라 치즈,치즈 제외
0,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0

In [14]:
df2 = pd.read_excel('../data/input_data.xlsx')

In [15]:
df2.iloc[:, 18:]

,0,1,2,3,4,5,6,7,8,9,...,367,368,369,370,371,372,373,374,375,376
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.077295,0.000000,...,0.0,0.086614,0.0,0.000000,0.0,0.0,0.099747,0.077295,0.000000,0.000000
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.193406,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.000000,0.0,0.142475,0.0,0.0,0.000000,0.000000,0.142475,0.142475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1969,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.077295,0.000000,...,0.0,0.086614,0.0,0.000000,0.0,0.0,0.099747,0.077295,0.000000,0.000000
1970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.077295,0.000000,...,0.0,0.086614,0.0,0.000000,0.0,0.0,0.099747,0.077295,0.000000,0.000000
1971,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.077295,0.000000,...,0.0,0.086614,0.0,0.000000,0.0,0.0,0.099747,0.077295,0.000000,0.000000
1972,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.077295,0.000000,...,0.0,0.086614,0.0,0.000000,0.0,0.0,0.099747,0.077295,0.000000,0.000000
1973,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.077295,0.000000,...,0.0,0.086614,0.0,0.000000,0.0,0.0,0.099747,0.077295,0.000000,0.000000

In [16]:
df_input = pd.merge(df_tmp2, df2.iloc[:, 18:], left_index=True, right_index=True)

In [17]:
df_input.head()

,쉬림프,로티세리 바비큐 치킨,이탈리안 비엠티,로스트 치킨,에그마요,K-바비큐,풀드 포크 바비큐,비엘티,햄,참치,...,367,368,369,370,371,372,373,374,375,376
0,0,0,0,0,1,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
1,0,0,0,0,0,0,0,1,0,0,...,0.0,0.086614,0.0,0.000000,0.0,0.0,0.099747,0.077295,0.000000,0.000000
2,0,0,0,0,0,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
3,0,0,0,0,1,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
4,0,1,0,0,0,0,0,0,0,0,...,0.0,0.000000,0.0,0.142475,0.0,0.0,0.000000,0.000000,0.142475,0.142475

In [18]:
df_input.to_excel('../data/One-Hot.xlsx', index=False)